# *buntu backups
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Backup files
*~

# Custom to this project
./project/ROIs
./project/radii
./project/iptoolVidDecomp
./project/iptoolVidRecomp
*.mp4
*.ppm
*.pgm
